[core]
	symlinks = false
	excludesfile = /home/andrei/.gitignore

[init]
 	defaultBranch = main

[pull]
	rebase = true

[filter "lfs"]
 	clean = git-lfs clean -- %f
 	smudge = git-lfs smudge -- %f
 	process = git-lfs filter-process
 	required = true

[user]
	name = Andrei Maxim
	email = andrei@andreimaxim.ro

[include]
 	path = ~/.gitcredentials
