---
- name: Add 1Password repository
  become: true
  copy:
    dest: /etc/yum.repos.d/1password.repo
    content: |
      [1password]
      name=1Password Stable Channel
      baseurl=https://downloads.1password.com/linux/rpm/stable/$basearch
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://downloads.1password.com/linux/keys/1password.asc

- name: Install base packages via rpm-ostree
  become: true
  community.general.rpm_ostree_pkg:
    name:
      # Core tools
      - git
      - git-lfs
      - vim-enhanced
      - stow
      - fzf
      - bash-completion
      - tig
      - tree
      - unzip
      - jq
      - gh
      - ShellCheck
      # Build tools
      - gcc
      - gcc-c++
      - make
      - openssl-devel
      - readline-devel
      - zlib-devel
      - libyaml-devel
      - libffi-devel
      - gdbm-devel
      - ncurses-devel
      - pkg-config
      - autoconf
      - bison
      - clang
      - perl
      - perl-FindBin
      # Image processing
      - vips
      - vips-devel
      - ImageMagick
      - ImageMagick-devel
      # Database clients
      - postgresql
      - libpq-devel
      - redis
      - sqlite
      - sqlite-devel
      - mysql-devel
      # Container
      - podman-docker
      # 1Password
      - 1password
      - 1password-cli
    state: present
  register: rpm_ostree_result

- name: Notify about reboot requirement
  debug:
    msg: "rpm-ostree packages installed. A reboot is required to apply changes."
  when: rpm_ostree_result.changed
