---
- name: Check if rustup is installed
  stat:
    path: "{{ ansible_env.HOME }}/.cargo/bin/rustup"
  register: rustup_check

- name: Install rustup
  shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  args:
    creates: "{{ ansible_env.HOME }}/.cargo/bin/rustup"
  when: not rustup_check.stat.exists

- name: Install cargo packages
  shell: "{{ ansible_env.HOME }}/.cargo/bin/cargo install {{ item.pkg }}"
  args:
    creates: "{{ ansible_env.HOME }}/.cargo/bin/{{ item.bin }}"
  loop: "{{ cargo_packages }}"
  environment:
    PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"
