---
- name: Desktop config
  hosts: localhost
  become: true
  vars:
    timezone: Europe/Bucharest
    locale_lines:
      - LANG=en_US.UTF-8
      - LC_MESSAGES=en_US.UTF-8
      - LC_ADDRESS=ro_RO.UTF-8
      - LC_IDENTIFICATION=ro_RO.UTF-8
      - LC_MEASUREMENT=ro_RO.UTF-8
      - LC_MONETARY=ro_RO.UTF-8
      - LC_NAME=ro_RO.UTF-8
      - LC_NUMERIC=ro_RO.UTF-8
      - LC_PAPER=ro_RO.UTF-8
      - LC_TELEPHONE=ro_RO.UTF-8
      - LC_TIME=ro_RO.UTF-8
      - LC_COLLATE=ro_RO.UTF-8
  tasks:
    - name: Set timezone
      community.general.timezone:
        name: "{{ timezone }}"

    - name: Configure system locale
      ansible.builtin.copy:
        dest: /etc/locale.conf
        content: "{{ locale_lines | join('\n') }}\n"
        owner: root
        group: root
        mode: "0644"
