[Unit]
Description=MySQL 5.7

[Container]
ContainerName=mysql57
# Pinned from docker.io/library/mysql:5.7.44
Image=docker.io/library/mysql@sha256:4bc6bc963e6d8443453676cae56536f4b8156d78bae03c0145cbe47c2aad73bb
Environment=MYSQL_ALLOW_EMPTY_PASSWORD=1
Volume=mysql57-data:/var/lib/mysql
PublishPort=127.0.0.1:3306:3306
Exec=--query-cache-size=0 --query-cache-limit=64M --query-cache-type=0 --innodb-buffer-pool-size=1G --innodb-buffer-pool-instances=4 --net-read-timeout=7200 --net-write-timeout=7200 --max-allowed-packet=128M --tmp-table-size=384M --max-heap-table-size=384M --join-buffer-size=256M --character_set_server=utf8mb4

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
